<div class="generator"
	 id="p0g<%=genNum%>">
	<h4 class="label name" id="p0g<%=genNum%>_label">Generator <%=genNum%></h4></br>

	<div class="container info">
		<p class="label">Have:</p>
		<p class="current num" id="p0g<%=genNum%>_have">0</p>
	</div>

	<div class="container info">
		<p class="label">⓪/s: </p>
		<p class="current num" id="p0g<%=genNum%>_per-sec">0</p>
	</div>

	<div class="container info">
		<p class="label">Price: ⓪ </p>
		<p class="current num" id="p0g<%=genNum%>_price"></p>
	</div>

	<button class="buy"
			id="p0g<%=genNum%>_buy"
			onclick="p0BuyGenerator(<%=genNum%>,1)"
			type="button">Buy 1</button>
</div>