<%- include("./partials/head.ejs"); %>

<%- include("./partials/info.ejs"); %>
<div id="filler_info"></div>


<%- include("./partials/p/p0.ejs"); %>


<%- include("./partials/nav.ejs"); %>

<%- include("./partials/foot.ejs"); %>